body{
  font-family: 'Lato', sans-serif;
  display: flex;
}
header{
  width: 100%;
  display: flex;
  justify-content: center;
}
::placeholder{
  font-family: 'Lato', sans-serif;
}
button{
  font-family: 'Lato', sans-serif;
}


/* .text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
} */

.chat-head{
  width: 80%;
}
