body{
  font-family: 'Lato', sans-serif;
}
::placeholder{
  font-family: 'Lato', sans-serif;
}
button{
  font-family: 'Lato', sans-serif;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
